@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to global.css */
.loader {
  border: 3px solid transparent;
  border-top: 3px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

